h1 {
    font-family: Arial, Helvetica, sans-serif;
	margin-left: 20px;
}
h4 {
	font-size: large;
	padding-left: 5px;
}
h5 {
	font-size: large;
}
p {
    font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	
}
body {
    background-color: rgb(138, 195, 255);
	
}
ul {
	font-family: Arial, Helvetica, sans-serif;
}
li { 
    font-family: Arial, Helvetica, sans-serif;
}
footer {
	background-color: white;
	padding-left: 5px;
}

/* This is the nav bar */
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}
.navbar {		
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #555;
	padding-left: 0;
	padding-right: 50px;
	font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
	font-size: 20px;
	margin-right: 5px;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.open > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: black;
	padding: 8px 20px;
	line-height: normal;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
	color: #333;
}	
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .badge {
	color: #fff;
	background: #f44336;
	font-size: 11px;
	border-radius: 20px;
	position: absolute;
	min-width: 10px;
	padding: 4px 6px 0;
	min-height: 18px;
	top: 5px;
}
.navbar a.notifications, .navbar a.messages {
	position: relative;
	margin-right: 10px;
}
.navbar a.messages {
	margin-right: 20px;
}
.navbar a.notifications .badge {
	margin-left: -8px;
}
.navbar a.messages .badge {
	margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
	}
	.input-group {
		width: 100%;
	}
}

/* Home Page*/
.homepage {
	display: flex;
	max-width: 500px;
	max-height: 500px;
	margin-left: 20px;
}
.homepage img {
	max-width: 500px;
	max-height: 500px;
	object-fit: fill;
}

/* This is the registration page */
/* * {box-sizing: border-box} */
a {
	color: darkslateblue;
}
hr {
	border: 1px solid white;
	margin-bottom: 25px;
}
  
.containers {
	max-width: 600px;
	max-height: 600px;
	margin-left: 450px;
	border: 2px solid white;
	padding: 25px 25px 25px 25px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

.signin {
  background-color: rgbrgb(138, 195, 255);
  text-align: center;
}

/* Products Page */

.card {
	max-width: 375px;
	max-height: 450px;
	padding: 10px 10px 10px 10px;
	margin: 15px 15px 15px 15px;
	
}
.card-img-top {
	max-width: 375px;
	max-height: 450px;
}
.card-body {
	max-width: 375px;
	max-height: 450px;
}
.card-title {
	font-size: medium;
}
.card-text {
	font-size: smaller;
}
.btn {
	margin-top: 25px;
}
.flex-container {
	display: flex;
	justify-content: space-between;
	justify-content: space-around;
}

/* login page */
.login-form {
    width: 450px;
    margin: 50px auto;
}
.login-form form {        
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 18px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.bottom-action {
  	font-size: 14px;
}

/*checkout page */
.container {
	max-width: 1200px;
	margin-top: 15px;
}
.cart {
	display: flex;
}
.products {
	flex: 0.75;
}
.product {
	display: flex;
	width: 100%;
	height: 200px;
	overflow: hidden;
	border: 2px solid white;
}
.product:hover {
	border: 2px solid white;
	transform: scale(1.03);
}
.product > img {
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.product-info {
	padding: 20px;
	width: 100%;
	position: relative;
}
.product-name, .product-price {
	margin-bottom: 20px;
}
.remove {
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 10px 25px;
	background-color: white;
	cursor: pointer;
	border-radius: 5px;
}
.remove:hover {
	background-color: #555;
}
.product-quantity > input {
	width: 30px;
	text-align: center;
}

.cart-total {
	display: flex;
	flex: 0.25;
	padding: 20px;
	height: 100px;
	margin-top: 15px;
	border: 2px solid white;
}

.cart-total p {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.cart-total button {
	text-align: center;
	height: 40px;
	width: 120px;
	line-height: 40px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(113, 231, 49);
	margin-top: 25px;
	margin-left: 425px;
	border: none;
} 